# Loại bỏ tệp cơ sở dữ liệu khuôn mặt 
data/embeddings.pkl

# Loại bỏ toàn bộ ảnh mẫu bên trong thư mục images 
# Nhưng giữ lại thư mục images để không bị lỗi cấu hình
data/images/*
!data/images/.gitkeep

# Các tệp tạm của Python
__pycache__/
*.pyc

# Môi trường ảo (nếu có)
venv/
env/

# Cấu hình trình soạn thảo
.vscode/
.idea/